profiles {

  standard {
    includeConfig 'configuration/base.config'
    process {
      executor = 'slurm'
    }
  }

  testing {
    includeConfig 'configuration/base.config'
    executor {
      cpus = 20
    }
  }
}

manifest {
  mainScript = 'qc.nf'
  description = 'Forked version of lehtiolab/galaxy-workflows for testing'
  homePage = 'http://tcoffee.crg.cat/apps/ampa/'
}
